
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/HomePage.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<h1>Airline Booking Site </h1>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Airline Booking</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href='@Url.Action("MainPage","Home")'>Home</a></li>
            <li><a href='@Url.Action("AboutUs","Home")'>About us</a></li>
            <li><a href='@Url.Action("PrivacyPolicy","Home")'>Privacy Policy</a></li>
            <li><a href='@Url.Action("Contact","Contact")'>Contact</a></li>
            <li><a href='@Url.Action("Login","Admin")'>Admin Login </a></li>


        </ul>
    </div>
</nav>
<div class="booking-form-w3layouts">
    <!-- Form starts here -->

    <h2 class="sub-heading-agileits">Privacy Policy</h2>
    <div class="main-flex-w3ls-sectns">

        <div class="row" style="color:white;">
            <p>
                The categories of personal information we collect
                Platform information: When you visit the Platforms, we may collect information from you. Some of it may be personal information. This information can include search history, IP address, screen resolution, browser used, operating system and settings, access times and referring URL. If you are using a mobile device, we may also collect data that identifies your device, your settings and your location.

                Booking information: If you book a travel product via the Platforms, we may need additional information from you. This information can include your name (and traveller’s name, if different), age, birthday, gender, passport number, redress control number, email address, telephone number, credit card information, billing address, itinerary and frequent flyer details. You can also choose to store personal information in your user account for future bookings.

            </p><br/>
                <p>
                    Account information: If you choose to register, we will collect your email address, password, home airport, and other preference information you provide us. If you use a third-party service, like Facebook Login, to register or sign in, you are permitting us to use and store that information related to the account.

                    Trips services: If you make a booking on Cheapflights or within our mobile applications, we may automatically create a 'Trips' account for you, which will give you access to our 'Trips' service, where we will collect your travel information to create and maintain your travel itineraries. This can include the personal information that may be included in the confirmation emails you give us access to.

                    Consumer support: If you choose to contact our consumer support services, we will collect any enquiries, complaints or other information that you may submit to our support team.

                    Promotional information:  If you choose to participate in a sweepstake, contest or similar campaign, we will collect any information you provide in relation to such activity, such as photos, images, captions or other content, in accordance with the terms provided at that time.

                    When you give us personal information, you are telling us that the information is true, accurate, complete and current. You are also telling us that you have the authorisation to provide it to us.

                </p>
            <br/><p>

    How you can control tracking tools and opt out of online behavioural advertising
    Your browser may give you the ability to control cookies. How to do this varies from browser to browser. You should view the help menu on the browser you use for further information. Your opt-out choice is stored in opt-out cookies only in that browser, so you should set your preferences separately for other browsers, computers, or devices you may use. If your browser blocks cookies, your opt-out preferences may not be effective. Deleting browser cookies can remove your opt-out preferences, so you should visit this page periodically to review your preferences. If you block or delete cookies or opt out of online behavioural advertising, not all of the tracking that we have described in this policy will stop.

    Please also note that opting out of a third-party cookie does not mean that you will no longer receive or be subject to online advertising or marketing. It means that the third-party service from which you opted out will no longer deliver ads tailored to your web preferences and online behaviour. To opt out of having your online behaviour tracked by Cheapflights for advertising purposes, click here; this means that Cheapflights will no longer use information derived from your online behaviour, collected by Cheapflights or third parties acting on behalf of Cheapflights for the purpose of providing you interest-based advertising from Cheapflights only. Note that opting out of receiving interest-based advertising through the link above does not mean you will no longer receive advertising from Cheapflights or third parties at all; rather it means that most of the advertising that you will see will not be based on your particular interests. In addition, Cheapflights may still collect information for other purposes consistent with this Privacy Policy.
</p>

        </div>




        <!-- type you contant Here-->>
    </div>
    <div>
        <h2> <a href='@Url.Action("MainPage","Home")' style="font-size:20px;" class="btn btn-primary">Back to Index</a></h2>
    </div>
    <div class="clear"></div>


    <!--// Form starts here -->
</div>
<!--copyright-->
<div class="copyright">
    <p>&copy; 2019. Airline Booking Form . All Rights Reserved | 			</p>
</div>



